.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.5rem;
  background-color: #161615;
  color: white;
  border: black;
  cursor: pointer;
  box-shadow: 0 2px #999;
  font-weight: bold;
}
button:hover {
  color: black;
}
ul {
  list-style: none;
}
#brand {
  color: #69f50b;
  font-size: 1.5rem;
}
.listed {
  background-color: #d1d5db;
  border-radius: 1rem;
  width: 60%;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
  margin: auto;
  text-align: justify;
}
ul li {
  padding: 0.2rem;
}
